version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: social_media_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: social_media_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: social_media_redis
    restart: always
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:6
    container_name: social_media_mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
