version: "3.8"

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=dev_secret_key
      - REDIS_URL=redis://redis:6379/0
      - DB_HOST=db
      - DB_NAME=shortener_db
      - DB_USER=shortener_user
      - DB_PASSWORD=shortener_password
      - DB_PORT=5432
    depends_on:
      - redis
      - db

  redis:
    image: "redis:alpine"
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=shortener_db
      - POSTGRES_USER=shortener_user
      - POSTGRES_PASSWORD=shortener_password
    ports:
      - "5435:5432"

  celery:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - SECRET_KEY=dev_secret_key
      - REDIS_URL=redis://redis:6379/0
      - DB_HOST=db
      - DB_NAME=shortener_db
      - DB_USER=shortener_user
      - DB_PASSWORD=shortener_password
      - DB_PORT=5432
    depends_on:
      - redis
      - db

  celery-beat:
    build: .
    command: celery -A config beat -l info
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - SECRET_KEY=dev_secret_key
      - REDIS_URL=redis://redis:6379/0
      - DB_HOST=db
      - DB_NAME=shortener_db
      - DB_USER=shortener_user
      - DB_PASSWORD=shortener_password
      - DB_PORT=5432
    depends_on:
      - redis
      - db

volumes:
  redis_data:
  postgres_data:
